# ===== Angular =====
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/
Frontend/.idea/

# ===== .NET =====
Backend/bin/
Backend/obj/
.vs/

# ===== SQL Server backups =====
*.mdf
*.ldf
*.bak

# ===== Archivos de configuración local =====
.env
*.user
*.db
*.suo
*.tmp
*.log

# ===== Otros =====
*.vsidx
