# ===== Angular =====
frontend/node_modules/
frontend/dist/

# ===== .NET =====
backend/bin/
backend/obj/

# ===== SQL Server backups =====
*.mdf
*.ldf
*.bak

# ===== Configuración local =====
.env
*.user
*.db
