-- =============================================
-- Script de Base de Datos: PermisosApp
-- Incluye estructura y datos
-- Generado para compatibilidad en cualquier equipo
-- =============================================

-- Si existe la BD, la elimina
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'PermisosApp')
BEGIN
    ALTER DATABASE [PermisosApp] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [PermisosApp];
END
GO

-- Crea la BD sin rutas locales
CREATE DATABASE [PermisosApp];
GO

USE [PermisosApp];
GO

-- Tabla: __EFMigrationsHistory
CREATE TABLE [dbo].[__EFMigrationsHistory](
    [MigrationId] NVARCHAR(150) NOT NULL,
    [ProductVersion] NVARCHAR(32) NOT NULL,
    CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED ([MigrationId] ASC)
);
GO

-- Tabla: Permisos
CREATE TABLE [dbo].[Permisos](
    [Id] INT IDENTITY(1,1) NOT NULL,
    [Nombre] NVARCHAR(MAX) NOT NULL,
    [Correo] NVARCHAR(MAX) NOT NULL,
    [Motivo] NVARCHAR(MAX) NOT NULL,
    [FechaSolicitud] DATETIME2(7) NOT NULL,
    [Estado] NVARCHAR(MAX) NOT NULL,
    [ArchivoPdf] NVARCHAR(MAX) NULL,
    CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED ([Id] ASC)
);
GO

-- Tabla: Usuarios
CREATE TABLE [dbo].[Usuarios](
    [Id] INT IDENTITY(1,1) NOT NULL,
    [Rol] NVARCHAR(MAX) NOT NULL,
    [Nombre] NVARCHAR(MAX) NOT NULL,
    [ContraseñaHash] NVARCHAR(MAX) NOT NULL CONSTRAINT DF_Usuarios_ContraseñaHash DEFAULT (N''),
    [Correo] NVARCHAR(MAX) NOT NULL CONSTRAINT DF_Usuarios_Correo DEFAULT (N''),
    CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED ([Id] ASC)
);
GO

-- =============================================
-- INSERTAR DATOS (opcional: puedes editar o quitar)
-- =============================================

-- Ejemplo de datos en Usuarios
INSERT INTO [dbo].[Usuarios] (Rol, Nombre, ContraseñaHash, Correo)
VALUES 
('Admin', 'Administrador', 'HASH_DE_CONTRASEÑA', 'admin@correo.com'),
('Docente', 'Juan Pérez', 'HASH_DE_CONTRASEÑA', 'juan@correo.com');

-- Ejemplo de datos en Permisos
INSERT INTO [dbo].[Permisos] (Nombre, Correo, Motivo, FechaSolicitud, Estado, ArchivoPdf)
VALUES
('Juan Pérez', 'juan@correo.com', 'Permiso por asuntos personales', GETDATE(), 'Pendiente', NULL);
GO