<div class="panel-principal">

    <div class="barra-superior">
        <div class="usuario-avatar" (click)="mostrarInfo = !mostrarInfo">
            <div class="avatar">{{ usuario.inicial }}</div>

            <div class="menu-info" *ngIf="mostrarInfo">
                <p><strong>{{ usuario.nombre }}</strong></p>
                <p>{{ usuario.rol }}</p>
            </div>
        </div>
    </div>

    <h2>Panel de Administración</h2>
    <div class="encabezado-acciones">
        <div class="filtro-fecha">
            <label>Filtrar por fecha:
                <input type="date" name="fechaFiltro" [(ngModel)]="fechaFiltro" (change)="onFechaChange()" />
            </label>
        </div>
        <div class="botones-exportar">
            <button (click)="exportarAExcel()">Exportar a Excel</button>
            <button (click)="exportarAPdf()">Exportar a PDF</button>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Motivo</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Archivos</th>
                <th>Acciones</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let solicitud of solicitudes">
                <td>{{ solicitud.nombre }}</td>
                <td>{{ solicitud.correo }}</td>
                <td>{{ solicitud.motivo }}</td>
                <td>{{ solicitud.fechaSolicitud | date: 'yyyy-MM-dd HH:mm' }}</td>
                <td>{{ solicitud.estado }}</td>
                <td>
                    <a *ngIf="solicitud.archivoPdf" [href]="'http://localhost:5206/Archivos/' + solicitud.archivoPdf"
                        target="_blank">
                        <i class="fa-solid fa-file-pdf"></i>
                    </a>
                </td>
                <td *ngIf="solicitud.estado === 'Pendiente'">
                    <button class="aprobar" (click)="actualizarEstado(solicitud.id, 'Aprobado')"
                        [disabled]="solicitud.estado !== 'Pendiente'">Aprobar</button>
                    <button class="rechazar" (click)="actualizarEstado(solicitud.id, 'Rechazado')"
                        [disabled]="solicitud.estado !== 'Pendiente'">Rechazar</button>
                </td>
                <td *ngIf="solicitud.estado !== 'Pendiente'">
                    <em>Ya respondido</em>
                </td>
                <td>
                    <button class="boton-eliminar" (click)="eliminarUsuario(solicitud.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="mensaje" class="mensaje-error">{{ mensaje }}</div>
    <div class="paginacion" style="margin-top: 15px;">
        <button [disabled]="pagina === 1" (click)="cambiarPagina(pagina - 1)">Anterior</button>
        Página {{ pagina }}
        <button [disabled]="pagina * tamanioPagina >= totalSolicitudes"
            (click)="cambiarPagina(pagina + 1)">Siguiente</button>
    </div>
</div>